$Background:        #121212;
$Page:              #1d1d1d;
$Shadow:            rgb(0, 0, 0);
$Foreground:        #e0e0e0;
//$Blue:              rgb(88, 117, 209);
$Blue:              #4271ae;
$Selection:         #606368;
$ContrastedText:    #e0e0e0;

@import "default.scss";