$bg: #fbf1c7;
$bg0_h: #f9f5d7;
$bg0_s: #fbf1c7;
$red: #cc241d;
$red2: #9d0006;
$green: #98971a;
$green2: #79740e;
$yellow: #d79921;
$yellow2: #b57614;
$blue: #458588;
$blue2: #076678;
$purple: #b16286;
$purple2: #8f3f71;
$aqua: #689d6a;
$aqua2: #427b58;
$gray: #7c6f64;
$gray2: #928374;
$fg: #3c3836;
$orange: #d65d0e;
$orange2: #af3a03;

$Background: #FFFFFF;
$Page: #FFFFFF;
$Shadow: #000000;
$Foreground: #000000;
$Color1: $blue;
$Color2: $aqua;
$Comment: $gray;
$Selection: $gray2;