@import url(/assets/font/fira_code.css);
html {
  font-family: 'Fira Code', monospace; }

body {
  background-color: #44475a;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

::selection,
::-moz-selection {
  background: #44475a; }

.head {
  margin: 1.5cm 1.5cm 0cm 1.5cm; }

.page {
  display: inline-block;
  background-color: #282a36;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm #44475a;
  width: 21cm;
  min-width: 21cm;
  height: 29.7cm; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

h1 {
  font-size: 25pt;
  color: #f8f8f2;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 10px; }

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18pt;
  color: #f8f8f2;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal; }

h3 {
  font-size: 10pt;
  margin-top: 10px;
  color: #f8f8f2;
  font-style: normal;
  font-weight: bold; }

h4 {
  color: #50fa7b;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal; }

h5 {
  color: #50fa7b;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 10px; }

p {
  font-size: 9pt;
  color: #f8f8f2; }

.head p {
  text-align: justify; }

a {
  color: inherit;
  text-decoration: underline; }

.datePlace {
  display: grid;
  grid-template-columns: 50% 50%; }

.mainSide {
  display: grid;
  grid-template-columns: 65% auto;
  grid-column-gap: 1cm;
  margin: 0cm 1.5cm 0cm 1.5cm; }

.infoPerso {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  white-space: nowrap; }

.infoPersoItem svg {
  fill: #ff79c6;
  margin: 2px;
  height: 9pt; }

.infoPersoItem {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.infoPersoItem p {
  color: #6272a4;
  font-family: 'Fira Code Medium', monospace; }

.comment {
  color: #6272a4; }

.tag {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #ffb86c;
  padding: 1px;
  margin: 1px;
  font-style: italic;
  color: #ffb86c;
  background: #282a36;
  font-size: 9pt;
  display: inline-block;
  text-align: center; }

.tag p {
  font-style: normal;
  font-weight: normal;
  text-align: left;
  font-size: 8pt; }

.skills {
  margin-bottom: 5px; }

.skillBox {
  display: flex;
  justify-content: space-between; }

.skillOn svg {
  fill: #ff5555; }

.skillOff svg {
  fill: #6272a4; }

@media print {
  body, .page, header {
    margin: 0;
    box-shadow: 0;
    background-color: #282a36; }

  .page {
    width: 100%;
    height: 100%;
    min-width: 0;
    box-shadow: 0 0 0 #282a36; }

  .mainSide, .head {
    margin: 0; } }
@media screen and (max-width: 22cm) {
  .page {
    display: inline-block;
    background-color: #282a36;
    margin-bottom: 0;
    box-shadow: 0 0 0 #44475a;
    width: 100%;
    min-width: 0;
    height: 100%; }

  .mainSide {
    display: flex;
    grid-column-gap: 0cm;
    flex-wrap: wrap;
    margin: 1em; }

  .head {
    margin: 1em; } }
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  background-color: #f8f8f2;
  margin-bottom: 1cm; }

header h1 {
  color: #282a36;
  font-size: 20pt;
  margin: 16px 16px 0 16px; }

header h1 a {
  color: inherit;
  text-decoration: none; }

header p {
  color: #282a36;
  margin: 0 16px 16px 16px; }

header p a {
  color: inherit;
  text-decoration: underline; }

@media print {
  header {
    display: none; } }
@media screen and (max-width: 22cm) {
  header {
    margin-bottom: 0; } }
