@import url(/assets/font/fira_code.css);
html {
  font-family: 'Fira Code', monospace; }

header {
  width: 100%;
  background-color: #4d4d4c; }

header div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

header h1 {
  color: #ffffff;
  font-size: 14pt;
  font-weight: bold;
  margin: 16px 16px 0 16px; }

header h1 a {
  color: inherit;
  text-decoration: none; }

header p {
  color: #ffffff;
  margin: 10px;
  text-align: center; }

body {
  background-color: #8e908c;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

::selection,
::-moz-selection {
  background: #d6d6d6; }

.page, .article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 21cm;
  min-width: 21cm;
  padding: 1.5cm;
  margin: 0.5cm;
  box-shadow: 0 0 0.5cm #4d4d4c; }

.page {
  height: 29.7cm; }

h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 9pt;
  color: #4d4d4c; }

h1 {
  font-size: 25pt;
  color: #4d4d4c;
  text-transform: uppercase;
  margin-bottom: 0.3cm; }

h2 {
  font-size: 18pt;
  color: #4d4d4c;
  text-transform: uppercase; }

h3 {
  font-size: 10pt;
  color: #4d4d4c;
  font-weight: bold; }

h4 {
  color: #4271ae;
  font-size: 10pt; }

h5 {
  color: #4271ae;
  font-size: 12pt;
  font-weight: bold;
  margin-top: 0.3cm; }

p {
  text-align: justify; }

a {
  color: inherit;
  text-decoration: underline; }

.datePlace {
  display: grid;
  grid-template-columns: 50% 50%; }

.mainSide {
  flex: 1;
  display: grid;
  grid-template-columns: 65% auto;
  grid-column-gap: 1cm; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.infoPerso {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  white-space: nowrap; }

.infoPersoItem svg {
  fill: #8959a8;
  margin: 1mm;
  height: 9pt; }

.infoPersoItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #3e999f; }

.infoPersoItem p {
  color: #3e999f; }

.tag {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #718c00;
  padding: 2px;
  margin: 1px;
  font-style: italic;
  color: #718c00;
  background: #ffffff;
  font-size: 9pt;
  display: inline-block;
  text-align: center; }

.tag p {
  font-style: normal;
  font-weight: normal;
  text-align: left;
  font-size: 8pt; }

.skillBox {
  display: flex;
  justify-content: space-between; }

.skillBox p {
  font-size: 10pt; }

.skillOn svg {
  fill: #c82829; }

.skillOff svg {
  fill: #8e908c; }

@media screen and (max-width: 22cm) {
  header {
    margin-bottom: 0; }

  .page, .article {
    display: inline-block;
    background-color: #ffffff;
    padding: 1em;
    margin: 0;
    box-shadow: 0 0 0 #4d4d4c;
    width: 100%;
    min-width: 0;
    height: 100%; }

  .mainSide {
    display: flex;
    grid-column-gap: 0cm;
    flex-wrap: wrap; }

  .head {
    margin: 1em; } }
@media print {
  header {
    display: none; }

  body, .page, header, .article {
    margin: 0;
    padding: 0;
    box-shadow: none;
    background-color: #ffffff; }

  .page, .article {
    width: 100%;
    height: 100%;
    min-width: 0;
    position: absolute; } }
