<div class="page cv">
	<div class="marginMBottom row">
		<img src="/Alexandre_DSB_2.jpg" alt="Alexandre de Saint Blanquat" onclick="toggleDarkLight()" class="profile">
		<div class="space-between">
			<h1>{{ .name }}</h1>
			<h3>{{ .accroche }}</h3>
			<p>{{ .intro | markdownify }}</p>
		</div>
	</div>
	<div class="core">
		<div class="main space-between">
			<h2>Experience</h2>
			{{ range .experience }}{{ partial "object.html" . }}{{ end }}
			<h2>Education</h2>
			{{ range .education }}{{ partial "object.html" . }}{{ end }}
		</div>
		<div class="side space-between">
			<h2>Skills</h2>
			{{ range .skills }}
			<div>
				{{ if .tag }}
				<p class="tag">
					{{ .tag }}
				</p>
				{{ end }}
				{{ if .text }}
				{{ range .text }}
				<p style="padding: 2pt 0 0 2pt;border-left: 1px solid;">
					{{ . | markdownify }}
				</p>
				{{ end }}
				{{ end }}
				{{ if .github }}
				<p style="padding: 2pt 0 0 2pt;border-left: 1px solid;">
					<i class="fab fa-github"></i>
					<a href="https://github.com/{{ .github }}" target="_blank">
						{{ .github }}
					</a>
				</p>
				{{ end }}
			</div>
			{{ end }}
		</div>
	</div>
</div>
